---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import WorkExperience from "../components/WorkExperience.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import tree0Img from "../media/tree-0.svg";
import tree1Img from "../media/tree-1.svg";
import levaesImg from "../media/leaves.svg";
import grassImg from "../media/grass.svg";
---

<Layout title="Balázs Sági">
  <Hero />
  <div class="wrap u-stack-6">
    <svg
      class="wave"
      viewBox="0 0 1440 74"
      height="74"
      width="1440"
      preserveAspectRatio="none"
      ><path
        fill="var(--site-bg-color)"
        d="M456.464 0.0433865C277.158 -1.70575 0 50.0141 0 50.0141V74H1440V50.0141C1440 50.0141 1320.4 31.1925 1243.09 27.0276C1099.33 19.2816 1019.08 53.1981 875.138 50.0141C710.527 46.3727 621.108 1.64949 456.464 0.0433865Z"
      ></path>
    </svg>
    <Intro />
    <div class="content u-stack-8">
      <img class="bg-decor bg-decor-0" src={tree0Img} alt="" />
      <AboutMe />
      <img class="bg-decor bg-decor-1" src={tree1Img} alt="" />
      <img class="bg-decor bg-decor-2" src={levaesImg} alt="" />
      <WorkExperience />
      <Contact />
    </div>
  </div>
  <img class="grass" src={grassImg} alt="" />

  <style>
    .wrap {
      position: relative;
      background-color: var(--site-bg-color);
      margin-top: -75px;
      padding-bottom: var(--spacing-6);
    }

    .wave {
      position: absolute;
      top: 0;
      width: 100%;
      transform: translateY(-99%);
    }

    .content {
      max-width: 73rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--spacing-2);
      padding-right: var(--spacing-2);
    }

    .bg-decor {
      position: absolute;
      opacity: 0.2;
    }

    .bg-decor-0 {
      left: 25px;
      transform: rotate(20deg);
    }

    .bg-decor-1 {
      right: 50px;
      transform: rotate(-20deg);
    }

    .bg-decor-2 {
      left: 50px;
      transform: rotate(70deg);
      bottom: 300px;
    }

    .grass {
      width: 100%;
    }

    @media (max-width: 1400px) {
      .bg-decor {
        opacity: 0.07;
      }
    }
  </style>
</Layout>
