---
import Section from "./Section.astro";
---

<Section title="About me">
  <p>
    I built my first website when I was ten and after taking some detours, I
    realized this is what I love doing. As a result, I have been creating
    websites <span class="u-highlight"
      >professionally for the past seven years</span
    >.
  </p>
  <p>
    I have extensive experience with <span class="u-highlight">designing</span> and
    <span class="u-highlight">coding</span> resilient, large-scale, and highly usable
    frontends using <span class="u-highlight">React</span>, <span
      class="u-highlight">Next.js</span
    > and <span class="u-highlight">TypeScript</span>.
  </p>
  <p>
    In the past few years, I also got interested in backend technologies, and
    got familiar with <span class="u-highlight">Node.js</span>,
    <span class="u-highlight">MongoDB</span> and <span class="u-highlight"
      >Amazon AWS</span
    >.
  </p>
</Section>
