---
import Divider3 from "../media/Divider3.astro";
import Section from "./Section.astro";
---

<Section title="Contact Me">
  <Divider3 slot="divider" />
  <p>
    Feel free to <a href="mailto:balazssagi@outlook.com">send me an email</a>,
    contact me on <a href="https://www.linkedin.com/in/balazssagi/">LinkedIn</a>
    or check out my code on <a href="https://github.com/balazssagi">Github</a>.
  </p>
</Section>
