---
import meImg from "../media/me.jpg";
---

<section class="root">
  <h1>
    Hey! My name is <span class="u-highlight">Balázs</span>. <br /> I’m a product-minded
    web developer from Hungary.
  </h1>
  <div class="photo">
    <img width="1200" height="805" src={meImg} alt="A photo of Balázs" />
  </div>
</section>

<style>
  .root {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1.25fr 1fr;
    position: relative;
    top: -6.25rem;
    margin-bottom: -6.25rem;
    gap: var(--spacing-6);
    max-width: 83rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
  }

  h1 {
    position: relative;
    top: 6.25rem;
    margin-bottom: 6.25rem;
    max-width: 20em;
    font-size: var(--font-size-xxl);
    line-height: 1.3;
  }

  .photo {
    background-color: #e3f0ff;
    position: relative;
    transform: rotate(4deg);
    padding: 20px;
    border-radius: 2px;
    transition: all 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  }

  .photo:hover {
    transform: rotate(0deg) scale(1.07);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .photo img {
    height: auto;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: var(--font-size-l);
    }
    .photo {
      padding: 10px;
    }
  }

  @media (max-width: 600px) {
    .root {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    .root {
      position: static;
      margin-bottom: 0;
    }
    h1 {
      position: static;
      margin-bottom: 0;
    }
  }
</style>
